# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\远程仓库gitee\java_study\lesson6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
